/* ===========================
   MEDI HEALTH WEBSITE
=========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f6fbff;
color:#333;
line-height:1.6;
}

/* HEADER */

header{
position:fixed;
top:0;
left:0;
width:100%;
background:#0077b6;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
z-index:999;
box-shadow:0 3px 12px rgba(0,0,0,.15);
}

.logo img{
height:70px;
}

nav a{
color:white;
text-decoration:none;
margin-left:30px;
font-size:17px;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#90e0ef;
}

/* HERO */

.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
url("images/hero.jpg.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
justify-content:center;
align-items:center;
text-align:center;

}

.hero-overlay{

color:white;
max-width:850px;
padding:20px;

}

.hero-overlay h1{

font-size:60px;
margin-bottom:20px;

}

.hero-overlay p{

font-size:24px;
margin-bottom:35px;

}

.hero-buttons{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.btn{

padding:15px 35px;
background:#00b894;
color:white;
text-decoration:none;
border-radius:8px;
font-weight:600;
transition:.3s;

}

.btn:hover{

transform:translateY(-4px);

}

.secondary{

background:#0077b6;

}
