*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f8fc;
    color:#333;
    line-height:1.6;
}

/* Header */

header{
    background:#0077b6;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    width:100%;
    top:0;
    z-index:999;
}

.logo img{
    height:70px;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin-left:30px;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ffd166;
}

/* Hero */

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)),
    url("images/hero.jpg.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    color:#fff;
}

.overlay h1{
    font-size:65px;
    margin-bottom:20px;
    text-shadow:0 3px 10px rgba(0,0,0,.4);
}

.overlay p{
    font-size:26px;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:15px 30px;
    border-radius:8px;
    text-decoration:none;
    color:#fff;
    background:#25D366;
    margin:10px;
    font-weight:bold;
    transition:.3s;
}

.secondary{
    background:#0077b6;
}

.btn:hover{
    transform:translateY(-4px);
}

/* Sections */

.about,
.packages,
.contact{
    padding:80px 8%;
}

.about h2,
.packages h2,
.contact h2{
    text-align:center;
    margin-bottom:30px;
    color:#0077b6;
    font-size:36px;
}

.about p{
    max-width:900px;
    margin:auto;
    text-align:center;
    font-size:18px;
}

/* Gallery */

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.item{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.item:hover{
    transform:translateY(-8px);
}

.item img{
    width:100%;
    display:block;
}

.item h3{
    padding:20px;
    text-align:center;
}

/* Contact */

.contact{
    background:#eef7ff;
}

.contact p{
    text-align:center;
    margin:10px;
}

/* Footer */

footer{
    background:#023e8a;
    color:#fff;
    text-align:center;
    padding:25px;
}

/* WhatsApp */

.whatsapp{
    position:fixed;
    right:20px;
    bottom:20px;
    background:#25D366;
    color:#fff;
    text-decoration:none;
    padding:15px 25px;
    border-radius:50px;
    font-weight:bold;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}

html{
    scroll-behavior:smooth;
}

/* Mobile */

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    margin:10px;
}

.overlay h1{
    font-size:40px;
}

.overlay p{
    font-size:20px;
}

.logo img{
    height:60px;
}

}
